.color-1{
    background : #05172e;
}
.color-2{
    background: #2e9cdb;
}
.color-3{
    background : #05172e;
}
.color-4{
    background : #92c1ff;
}

.font-color-3{
    color: #05172e;
}
.font-color-2{
    color: #2e9cdb;
}
.shadow-color-3{
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
}