.contact-page {
    min-height: 100vh;
}

.contact-page-gridbox {
    display: grid;
    grid-gap: 2px;
}

.contact-page-griditem {
    border: 2px solid white;
    min-height: 500px;
}
.message-box{
    height: 200px;
}
@media (min-width: 900px) {

    .contact-page-gridbox {
        grid-template-columns: repeat(2, 1fr);
    }

}