.body{
    position: relative;
    max-height:fit-content ;
}
.fullimage{
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.900);
    opacity: 0;
    pointer-events: none;
}
.image-box{
    max-height: 550px;
    max-width: 700px;
    background: white;
}
.openimage{
    opacity: 1;
    pointer-events: all;
    
}
.image-box{
    overflow: hidden;
}
.fullimage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
