.home-page-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 65px auto;
}


.nav-bar{
    position: sticky;
    top: 0;
    z-index: 99;
}

.image-background{
    background-size: cover;
    background-position: center;
    
}

.home-page-button{
    background: rgba(255, 255, 255, 0);
    transition: all ease-in-out 0.1s;    
}
.home-page-button:hover{
    transition: all ease-in-out 0.2s;    
    background: white;
}