* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

div a {
    text-decoration: none;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container-xxl {
    max-width: 1700px;
}

.dark-overlay {
    background: rgba(0, 0, 0, .5);
    position: absolute;
    height: 100%;
    width: 100%;
}

.content-overlay {

    position: absolute;
    height: 100%;
    width: 100%;
}

